<div class="my-header">
  <div class="my-container flex-container justify-content-space-between">
    <div class="logo">
      <a href="/">
        <img src="/assets/imgs/logo.png" alt="">
      </a>
    </div>
    <div style="color:#f00;font-size:70px;font-weight:bold">DEEP STRIKERS</div>
    <div class="log-out">
      <ul>
          <li><a (click)=changePasswd()><i class="fas fa-key"></i>Change Password</a></li>
        <li><a (click)=logout()><i class="fa fa-user"></i>Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
