comp-header {
    .my-container {
        background: #3f51b5;
        float: left;
        width: 100%;
    }
    nav.my-navbar {
        float: right;
        line-height: 43px;
    }
    nav.my-navbar ul{padding: 0; margin: 0;}
    nav.my-navbar ul li {list-style: none; line-height: 72px;}
    nav.my-navbar ul li a {
        color: #fff;
        font-size: 20px;
    }
    nav.my-navbar ul li a i {
        margin-right: 10px;
    }
}
