<!-- Generated template for the CompSidebarComponent component -->
<div class="side-menu">
  <div class="user-name">
    {{sidelinks?.userinfo.name}}
  </div>
  <ul>
    <li *ngIf=sidelinks?.userinfo?.sidebarBtns?.timesheet?.disp>
        <a href="#" class="active" (click)='sidelinks.timesheet()' ><i class="fa fa-user"></i>MyDashboard</a>
    </li>
    <li *ngIf=sidelinks?.userinfo?.sidebarBtns?.user?.disp>
      <a href="#" class="active" (click)='sidelinks.AdminUserList(0)' ><i class="fa fa-user"></i>user</a>
      <ul>
        <li *ngIf=sidelinks?.userinfo?.sidebarBtns?.user?.addbtn ><a href="#" (click)='sidelinks.AdminUserAdd()'>add user</a></li>
      </ul>
    </li>
    <li *ngIf=sidelinks?.userinfo?.sidebarBtns?.report>
      <a href="#" class="active" (click)='sidelinks.ShowReports()'><i class="fa fa-user"></i>Report</a>
    </li>
  </ul>
</div>