<!-- Generated template for the CompSidebarComponent component -->
<div class="side-menu">
  <div class="user-name">
    {{sidelinks?.userinfo.name}}
  </div>
  <ul>
    <li *ngIf=sidelinks?.userinfo?.sidebarBtns?.user?.disp>
      <a href="#" class="active" (click)='sidelinks.AdminUserList(0)' ><i class="fa fa-user"></i>user</a>
      <ul>
        <li *ngIf=sidelinks?.userinfo?.sidebarBtns?.user?.addbtn ><a href="#" (click)='sidelinks.AdminUserAdd()'>add user</a></li>
      </ul>
    </li>
    <li *ngIf=sidelinks?.userinfo?.sidebarBtns?.report>
        <a href="#" class="active" ><i class="fa fa-user"></i>Report</a>
        <ul>
          <li *ngIf=sidelinks?.userinfo?.sidebarBtns?.report?.daily ><a href="#">Daily</a></li>
          <li *ngIf=sidelinks?.userinfo?.sidebarBtns?.report?.weekly ><a href="#">Weekly</a></li>
          <li *ngIf=sidelinks?.userinfo?.sidebarBtns?.report?.monthly ><a href="#">Monthly</a></li>
        </ul>
      </li>
  </ul>
</div>